Discussion: Unplanned value extraction

Based on section 3.3 in [RFC 1738](https://www.ietf.org/rfc/rfc1738.txt), an HTTP URL should take the form:

```
http://<host>:<port>/<path>?<searchpart>
```

and  within the `<path>` and `<searchpart>` components, `/`, `;`, `?` are reserved.

This means that `<searchpart>` having the `name=value` format and separating by `&` is a convention, and technically the developer should decide whether `=` should be allowed in `value`. 

**For instance, if an application wants to pass a base64 encoded string in a URL query, then it is possible to see an `=` sign in `value`.**

If the developer decides to not allow `=` in `value`, then the example code works. Otherwise, perhaps we can have the following code

```elixir
defmodule Extract do

  @doc """
    Extract value from a key in a URL query string.
  """
  def get_value(string, desired_key) do
    parts = String.split(string, "&")
    Enum.find_value(parts, fn pair ->
      key_value = String.split(pair, "=", parts: 2)
      Enum.at(key_value, 0) == desired_key && Enum.at(key_value, 1)
    end)
  end
  
end
```

A step further, since using the equal sign `&` as separator and using `name=value` is only a convention, we can redesign the code as

```elixir
defmodule Extract do

  @doc """
    Extract value from a key in a URL query string.
  """
  def get_value(string, desired_key, opts \\ []) do
    pair_separator = opts[:pair_separator] || "&"
    value_separator = opts[:value_separator] || "="
    allow_value_separator_in_value = opts[:allow_value_separator_in_value] || true
  end

  def get_value(string, desired_key, pair_separator, value_separator, _allow_value_separator_in_value=true) do
    parts = String.split(string, pair_separator)
    Enum.find_value(parts, fn pair ->
      key_value = String.split(pair, value_separator, parts: 2)
      Enum.at(key_value, 0) == desired_key && Enum.at(key_value, 1)
    end)
  end

  def get_value(string, desired_key, pair_separator, value_separator, _allow_value_separator_in_value=false) do
    parts = String.split(string, pair_separator)
    Enum.find_value(parts, fn pair ->
      key_value = String.split(pair, value_separator)
      Enum.at(key_value, 0) == desired_key && Enum.at(key_value, 1)
    end)
  end
  
end
```

Hi @cocoa-xu, I don't think the code example is meant to be complete and parse all scenarios, but rather that those aspects should be considered in the code! Perhaps though we should update the specification to say that we are expecting www-form-encoded parameters or "browser query strings"?

Yeh, I totally agree this example is not meant to be complete. The thing was that, when I read the last description in the problem part, "This unplanned value extraction can give a false impression that the code is working correctly, causing bugs", this base64 case came into my mind because the refactored code could be exactly "working correctly but causing bugs" when we have a base64 string containing `=` signs.

Then I found that perhaps using `String.split(pair, "=", parts: 2)` would be better because we assumed the format to be `name=value`, and all we need is to find the first `=` sign. 

And when I was trying to explain why adding `parts: 2`, I looked up the RFC document and intended to use it as a reference. But then it was like, naturally, I thought that when readers came across this part, they might ask why not have a better design that allows custom specs.

It's just hard to stop...😅

I think perhaps we could have a note that says "The example code may have more than one problem, we'll focus on the most interesting one in each showcase. Please be aware that the refactored code may have other problems."? What do you think?

That could work. There is already a section where they explain how the code smells are structured, perhaps mention that the snippets are not meant to be comprehensive, rather illustrative. :)

Ah, I read that section again, and I'm sorry that I probably have misunderstood their words. 

They did mention that the code and the text are to illustrate the occurrence of the code smell. In this case, the key problem is "code working correctly but causing bugs" (I suppose?). But as you said, this snippet is not meant to be comprehensive, rather illustrative. So, it's actually pretty okay. :)